.btn-secondary{
    margin-left:70% ;
}
.btn-primary{
    margin: 0% 30% 100% 2%;
}
.btn-danger{
    margin-left: 2%;
}
.fromlocation{
    margin-left: 2%;
}
.tolocation{
    margin-left: 2%;
}
.fromdate{
    margin-left: 3%;
}