<header>
    <h2>My Dashboard</h2>
  </header>

<!-- <button>Bookings</button><br>
<button>Profile</button><br>
<button>Change Password</button><br>
<button>Wallet</button> -->
<!-- <router-outlet>

</router-outlet> -->
<section>
    <nav class="navbar navbar-expand-sm bg-light">
      
        <button routerLink="/bookings">Bookings</button> 
        <br>
        <button routerLink="/profile">Profile</button>
        <br>
        <button routerLink="/change-password">Change Password</button>
        <br>
        <button routerLink="/wallet">Wallet</button>
  </nav>
    
  <router-outlet></router-outlet>

  </section>


  <div>
</div>