<!-- <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
    <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.controls['old_password'].valid && changePasswordForm.controls['old_password'].touched}">
      <label for="old_password">Old Password</label>
      <input type="password" name="old_password" class="form-control" id="oldPassword" placeholder="Old Password" [formControl]="changePasswordForm.controls['old_password']" />
      <small *ngIf="changePasswordForm.controls['old_password'].hasError('required') && changePasswordForm.controls['old_password'].touched" class="text-danger">Old Password Required</small>
    </div>
    <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.controls['new_password'].valid && changePasswordForm.controls['new_password'].touched}">
      <label for="new_password">New Password</label>
      <input type="password" name="new_password" class="form-control" id="newPassword" placeholder="New Password" [formControl]="changePasswordForm.controls['new_password']" />
      <small *ngIf="changePasswordForm.controls['new_password'].hasError('required') && changePasswordForm.controls['new_password'].touched" class="text-danger">New Password Required</small>
    </div>
  
    <div class="form-group text-center">
        <!-- <button type="submit" class="btn btn-default" (click)="changePasswordForm(f)">Change Password</button> -->
      <!-- <button type="submit" class="btn btn-default" [disabled]="!changePasswordForm.valid">Change Password</button>
    </div>
  </form> --> 
  <!-- <textarea class="form-control" [(ngModel)]="content"
          name="content" required #myControl="ngModel">
</textarea>
<button type="submit" class="btn btn-default" 
[disabled]="myControl.valid">New comment</button> -->
<form [formGroup]=myForm>
    <label>UserID</label>
    <input type="number"  class="form-control" formControlName="userid" #userid>
    <p *ngIf="userid.invalid && userid.touched">
        <span *ngIf="userid.errors.required">Cannot be empty</span>           
        <!-- <span *ngIf="currentPass.errors.pattern"></span> -->
    </p>
    <br>
    <label>Current Password</label>
    <input type="password" class="form-control" formControlName="currentPass">
    <p *ngIf="currentPass.invalid && currentPass.touched">
        <span *ngIf="currentPass.errors.required">Cannot be empty</span>           
        <!-- <span *ngIf="currentPass.errors.pattern"></span> -->
    </p>
    <br>
    <label>New Password</label>
    <input type="password" class="form-control" formControlName="newPass">
    <p *ngIf="newPass.invalid && newPass.touched">
        <span *ngIf="newPass.errors.required">Cannot be empty</span>           
        <!-- <span *ngIf="currentPass.errors.pattern"></span> -->
    </p>
    <br>
    <label>Re-enter New Password</label>
    <input type="password" class="form-control" formControlName="rePass">
    <p *ngIf="rePass.invalid && rePass.touched">
        <span *ngIf="rePass.errors.required">Cannot be empty</span>            
        <!-- <span *ngIf="currentPass.errors.pattern"></span> -->
    </p>
    <br>
    <!-- <button [disabled]="!myForm.valid">Submit</button> -->
    <button (click)="changePassword(userid.value)">Submit</button>
    <button (click)="cancel()">Cancel</button>

</form> 

<div *ngIf="result">
    Password changed successfully!!
</div> -->
  <div *ngIf="!result">
    Password change unsuccessful!!
</div>  
<!-- <div>
    <label>Current Password</label>
    <input type="password" id="currentPass" required>
    <br>
    <label>New Password</label>
    <input type="password" id="newPass" required>
    <br>
    <label>Re-enter Password</label>
    <input type="password" id="rePass" required>
    <br>
    <button (click)="check()">Submit</button>
    <button (click)="cancel()">Cancel</button>
</div> -->
